/* shared styles */
.display-flex{
    display:flex;
}


/* header styles */

.bg{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    position: absolute;
    width: 1440px;
    height: 715px;
    top: 0px;
   left: 0px;
   margin: 0px 0px;
}

.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    width: 224px;
    height: 54px;
    color: white;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-secondary{
    border-radius: 42px;
    background: transparent;
    border: 2px solid white;
    width: 224px;
    height: 54px;
    color: white;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 600;
}

.btn-third{
    border-radius: 10px;
    background: rgb(71, 63, 62) ;
    border: none;
    width: 180px;
    height: 70px;
    color: white;
    text-align: left;
    font-size: 0.75rem;
    font-weight: 600;
    opacity: 0.5;
}

.button{
    margin-top: -100px;
}
.btn3{
    margin-top: -400px;
    margin-left: 350px;
}

#experience-year2{
    font-size: 1.125rem;
    margin-left: 10px;
}

#experience-year1{
    font-size: 1.125rem;
    margin-left:55px ;
}

#btn3{
   margin-left: 10px;
}

#btn2{
    margin-left: 55px;
}

/* nav styles */

.navbar{
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
}

.brand{
    font-weight: 800;
    font-size: 2.25rem;
    color: rgb(230, 83, 60);
    font-family:sans-serif;
}

.nav-items{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.nav-links{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    width: 450px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 150px;
}

.btn-nav{
    background-color: rgb(230, 83, 60);
    width: 70px;
    height: 20px;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    margin-right: 10px;
}

.banner-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;
}

.banner-description{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0%;
    opacity: 0.7;
    margin-left: 150px;
}

#banner-btn{
    margin-left: 150px;
}

#banner-btn2{
margin-left: 10px;
}

.banner-image{
margin-left: 120px;
}
.circle{
        height: 50px;
        width: 50px;
        background-color: rgb(230, 83, 60);
        border-radius: 50%;
        position: relative;
        border: none;
        color:rgb(230, 83, 60);;
    left: 60px;
    bottom: 10px;
    
}

.habit-title{
    color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
}
.habit-content{
    background: rgb(0, 0, 0);
position: relative;
width: 1440px;
height: 1000px;
top: 750px;
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
}
.habit2{
    text-align: center;
}
.skill{
position: static;
width: 1044px;
height: 274px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 58px 0px;
}
.movement{
position: static;
width: 231px;
height: 274px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 40px;
}
.movement-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
text-align: left;
}
.movement-description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
margin-top: 10px;
}
.time-title{
color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 18px;
font-weight: 600;
line-height: 120%;
letter-spacing: 0%;
margin-left: 70px;
}
.time-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
}
.time{
    margin-left: 100px;
}
.practice-image{
margin-left: 50px;
}
.practice-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 100px;
}
.practice-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
.practice{
    margin-left: 100px;
}
.weight-img{
    margin-left: 50px;
}
.weight-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 90px;
}
.weight-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
}
.weightloss{
    margin-left: 100px;
}
.runextra{
    position: absolute;
    width: 1160px;
    height: 371px;
    left: 190px;
    top: 1370px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    border-radius: 18px;
    background-color: rgb(34, 34, 34);
}
.runcontent{
margin: 0px 50px;
}
.run-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.run-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.runimg{
    position: absolute;
    width: 366px;
    height: 312px;
    left: 750px;
    top: 30px;
    border-radius: 18px;
}
.teb{
position: absolute;
width: 1440px;
height: 2800px;
left: 6;
top: 1790px;
display: flex;
flex-direction: column;
justify-content: flex-start;
/* align-items: center; */
padding: 0px;
background: black;
}
.te-title{
    color: rgb(255, 255, 255);
font-family: sans-serif;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
/* text-align: left; */
margin-left: 120px;
}
.te-description{
    color: rgba(255, 255, 255, 0.5);
font-family: sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
/* text-align: left; */
margin-left: 120px;
}
.ex1{
    position: absolute;
    width: 323px;
    height: 218px;
    left: 120px;
    top: 250px;
    background:  #15ac9800;
    opacity: 0.5;
}
.ex2{
    position: absolute;
    width: 539px;
    height: 256px;
    left: 420px;
    top: 250px;
    background:  rgba(201, 17, 17, 0.288);
}
.ex3{
    position: absolute;
    width: 388px;
    height: 214px;
    left: 960px;
    top: 250px;
    background:  #15ac9800;
}
.ex4{
    position: absolute;
    width: 435px;
    height: 218px;
    left: 120px;
    top: 468px;
}
.ex5{
    position: absolute;
    width: 408px;
    height: 219px;
    left: 555px;
    top: 468px;
}
.ex6{
position: absolute;
width: 390px;
height: 230px;
left: 958px;
top: 456px;
}
.bmi-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 550px;
   
}
.bmi-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    /* margin-top: 10px; */
}
.bmi-chart{
    background: rgb(34, 34, 34);
    width: 1440px;
    height: 487px;
}
.calculate-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 187px;
    margin-top: 52px;
}
.table{
    position: absolute;
    width: 310px;
    height: 216px;
    left: 187px;
}
#bmi-status{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
#bmi1{
    color: rgb(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
}
.calculate-title2{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 900px;
    line-height: 120%;
    letter-spacing: 0%;
    margin-left: 674px;
    margin-top: -66px;
}
.calculate-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-left: 674px;
    margin-top: -20px;
}
.input{
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 283px;
    height: 48px;
    border: none;
    margin: 5px;
    color: rgb(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    
}

.input2{
    width: 577px;
    height: 48px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.1);
    border: none;
    margin-left: 674px;
    margin-top: 5px;
}
#in1{
margin-left: 674px;
}
#in3{
    margin-left: 674px;
}
#calculate-btn{
    margin-left: 674px;
    margin-top: 34px;
}
.meet-title{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 100px;
}
.meet-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-top: -30px;
}
.trainers{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    width: 1060px;
    height: 604px;
    margin-left: 190px;
}
.trainer{
    border-radius: 18px;
    position: static;
    width: 326px;
    height: 272px;
}
#tr1{
    margin-left: 34px;
    margin-top: 20px;
}
#tr4{
    margin-left: 34px;
    margin-top: 20px;
}

.footer{
    background: rgba(255, 255, 255, 0.1);
position: static;
width: 1440px;
height: 489px;
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
margin: 88px 0px;
}
.footer-title{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 70px;
font-weight: 800;
line-height: 120%;
letter-spacing: 0%;
margin-left: 190px;
}
.footer-description{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
margin-left: 190px;
margin-top: -50px;
}
.get ul li{
    list-style: none;
    margin-left: 710px;
    padding: 3px;
}
.get ul li a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}
.get-title{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
margin-left: 745px; 
margin-top: -180px;
}
.started ul li{
    list-style: none;
    margin-left: 1010px;
    padding: 3px;
}
.started ul li a{
    list-style: none;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
}
.get-title2{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 120%;
letter-spacing: 0%;
margin-left: 1055px; 
margin-top: -220px;
}
.last{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;

}
.finish{
    width: 1060px;
    text-align: center;
    margin-left: 160px;
    margin-top: 90px;
}

@media screen and (max-width:992px) {
}
.bg, .nav, .habit, .bmi-chart, .calculate, .footer{
    flex-direction: column;
}


.skill, .te-img {
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    justify-items: center;
}

@media screen and (max-width:576px) {

    .bg, .nav, .habit, .bmi-chart, .calculate, .footer{
        flex-direction: column;
    }
    

    .skill, .te-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }

    

}